body {
	padding-top: 50px;
}

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
	border: 0;
}

.main {
	padding: 20px;
}

@media ( min-width : 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}

.main .page-header {
	margin-top: 0;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.table td {
	max-width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th,
	.table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td,
	.table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
	padding: 3px !important;
	font-size: 12px !important;
	text-align: center !important;
}

.table-condensed>thead>tr>th>input {
	padding: 1px !important;
	height: 20px !important;
	margin: 0 !important;
}

.pagination {
	margin: 0 !important;
}

.selectize-control>.selectize-dropdown {
	top: 36px;
}

