<div class="modal-header">
 <h4 class="modal-title">Information Regarding the application</h4>
</div>
<div class="modal-body">
 <ul class="list-group">
  <li class="list-group-item">Short selling is not allowed.</li>
  <li class="list-group-item">Buying and selling on same day is considered short selling. So a trade bought on 1st can only be sold on or after
   2nd.</li>
  <li class="list-group-item">Trades get settled in a FIFO manner.</li>
  <li class="list-group-item">There is data only for month of August. Dates cannot be other than in August.</li>
  <li class="list-group-item">This has been developed at late nights after office. Please consider that while using it :).</li>
  <li class="list-group-item">Git URL - <a href="https://github.com/kkanojia/trademanagerscala" target="_blank">
    https://github.com/kkanojia/trademanagerscala</a></li>
  <li class="list-group-item">Hire Kunal</li>
 </ul>
</div>
